body {
    font-size: 14px;
    background: #161616;
}

.blue {
    color: #2abae7;
}

#main {
    width: 98%;
    max-width: 1000px;
    margin: 20px auto;
    border: 4px solid #2abae7;
    background: #fff;
}

#content {
    width: 98%;
    margin: 0 auto;
}